#overrideBS {
  background-image: url("../images/bg.jpg");
  background-color: black;
  background-repeat: no-repeat;
  background-size: initial;
}

#btn-sort {
  color: azure;
  background-color: rgb(63, 63, 63);
  opacity: 40%;
  border-radius: 5px;
  padding: 10px 20px;
  font-family: "Roboto Slab", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

#btn-sort:hover {
  background-color: black;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 500px;
  width: 100%;
}
